* {
	color: red;
	font-size: 36px;
}
body {
	background: yellowGreen;
}
div {
	border: 1px solid black;
<<<<<<< HEAD
	color: #000;
=======
	color: red;
>>>>>>> ee13b14bd241182606475134b63c70c503a10baf
}
